html,
body {
	width: 100%;
	height: 100%;
}
* {
	padding: 0;
	margin: 0;
}

.common-component {
	width: 100%;
	height: 100%;
	position: absolute;
	max-height: 100%;
}

.common-component-content {
	position: relative;
	max-height: inherit;
	height: inherit;
	overflow-y: auto;
	padding: 1rem;
}

.common-component-content > .ant-input-search {
	margin: 1rem 0 1rem 0;
}

.switch-button-on {
	background-color: rgb(107, 250, 71) !important;
	border-color: rgb(107, 250, 71) !important;
}

.switch-button-off {
	background-color: rgb(253, 185, 59) !important;
	border-color: rgb(253, 185, 59) !important;
}
