.login {
	height: 100%;
	width: 100%;
	position: fixed;
	display: flex;
	background: transparent;
	background-image: url("../assets/3839.jpg");
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}

.login::before {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	background: inherit;
	background-color: rgba(28, 49, 78, 0.35);
	filter: blur(5px);
	z-index: -1;
}

.loginCard {
	width: 30rem;
	height: 20rem;
	border-radius: 10%;
	box-shadow: 2px 2px 3px #aaa;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.loginCard > a > img {
	width: 13rem;
	height: 13rem;
	padding: 20px;
	transition: all, 0.3s;
}

.loginCard > a > img:hover {
	transform: scale(1.2);
}

.loginCard > button {
	margin: 10px;
	width: 70%;
}
