.headerRight {
    display: flex;
    display: -webkit-flex;
}
.menu {
    margin-right: 20px;
    margin-top: 10px;
    line-height: 40px;
    text-align: center;
    background-color:transparent;
    color: transparent;
}
.user {
    margin-top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(212, 209, 209, 0.815);
}